@mixin border-radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

$backgroundColor: rgba(50,50,50,0.2);
$linkColor: rgb(255,200,255);
$textColor: rgb(200,255,255);

$textColorHover: rgb(200,100,200);

body {
  font-family: 'Comfortaa', cursive;
  background-color: black;
  font-size: 16px;
  font-style: normal;
}
h3 {
    font-family: 'Comfortaa', cursive;
}

.container {
  @include border-radius(4px);
  margin-right: auto;
  margin-left: auto;
  background-color: $backgroundColor;
  color: $textColor;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.title {
  @extend .container;
}

.uploadArea {
  @extend .container;
  background-color: $backgroundColor;
}

#button {
    background-color: $textColor;
    color: black;
    @include border-radius(2px);
}

#buttonInput {
    @extend #button;
}

#buttonUpload {
    @extend #button;
}
